<div class="dialog-header">
    <h1 mat-dialog-title>Modifier post</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content class="mat-typography dialog-content">
    <form [formGroup]="updatePost" (ngSubmit)="onSubmitUpdate()">
        <mat-form-field class="field-content" appearance="fill">
            <mat-label>Contenu</mat-label>
            <textarea matInput placeholder="Votre contenu" formControlName="contenu"></textarea>
        </mat-form-field>
        <br>
        <img *ngIf="post" [src]="post.image" alt="img-post" class="post__image">
        <mat-dialog-actions align="end">
            <button mat-button [mat-dialog-close]="true" type="submit">Modifier</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
