@import '../../../../sass/utils/variables';

.comments {
    overflow-y: auto; 
    max-height: 200px; 
    width: 100%; 
    overflow-x: hidden;
}

.no-comments {
    color: $couleur-secondaire; 
    text-align:center;
}