.comments--none {
    color:gray; 
    text-align:center;
}
    
.comments--form {
    overflow-y: auto; 
    max-height: 200px; 
    width: 100%; 
    overflow-x: hidden;
}

.comments--list {
    display:flex; 
    margin-bottom: 10px;

    &:hover>.comments--choice {
        display: block;
    }
}

.comments--description {
    display:flex; 
    flex-direction: column;
}

.comments--decoration {
    background-color: #ebedf0;
    border-radius: 18px;
    display: inline-block;
    line-height: 16px;
    width: 90%;
    margin-left: 10px;
    min-width: 0;
    overflow: hidden;
    padding: 6px 12px 7px 12px;
}

.comments--opacity {
    opacity: 0.6;
}

.comments--createdAt {
    color: grey; 
    margin-left: 15px;
}

.comments--choice {
    display: none;
}