.newComment {
    display: flex; 
    flex-direction: row; 
    margin-top: 20px; 
    margin-bottom: 0; 
    width: 100%;

    .field-form {
        margin-left: 20px; 
        width: 100%;
    }

    &--send {
        color: red;
    }
}

textarea {
    border: none;
    background-color: transparent;
    width: 100%;
}

.form-search {
    margin-left: 10px;
    background-color: #ebedf0;
    border-radius: 20px;
    width: 100%;
    display: flex;
    padding: 5px;
}

input:focus, :hover{
    outline: none;
}