<div class="comments--list">
    <img class="avatar" [src]="comment?.User?.image" alt="" width="40" height="40">
    <div class="comments--description" *ngIf="!isComment">
        <div class="comments--decoration">
            <div style="font-weight: bold;" class="comment--description">
                {{comment.User.prenom}}
                {{comment.User.nom}}
            </div>
            {{comment.contenu}}
        </div>
        <p class="comments--createdAt">{{comment.createdAt | date:'dd/MM/yyyy HH:mm':'UTC+2'}}</p>
    </div>
    <form [formGroup]="updateCommentaire" (ngSubmit)="updateComment(comment?.id)">
        <div class="comments--description" *ngIf="isComment">
            <div class="comments">
                <div style="font-weight: bold;" class="comment--description">
                    {{user.prenom}}
                    {{user.nom}}
                    <div class="form-search">
                        <textarea type="text" formControlName="contenu" class="comment--input"></textarea>
                    </div>
                </div>
                <button mat-icon-button type="submit">
                    <mat-icon class="send" style="color: red">send</mat-icon>
                </button>
            </div>
        </div>
    </form>
    <button mat-icon-button class="comments--choice" [matMenuTriggerFor]="menu" aria-label="Menu modification commentaire" *ngIf="user.userId == comment.UserId && !isComment">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openComment($event, comment?.id)">
            <mat-icon>edit</mat-icon>
            <span>Modifier commentaire</span>
        </button>
        <button mat-menu-item (click)="deleteComment(comment?.id)">
            <mat-icon style="color:rgb(147, 134, 134)">delete</mat-icon>
            <span>Supprimer commentaire</span>
        </button>
    </mat-menu>
</div>