.btn--list {
    background-color: #0d8bf0; 
    width: 25px!important; 
    height: 25px!important;
}

.button-login {
    background-color: red;
    width: 200px;
    margin: 20px auto!important;
    color: white;
}