html, body { 
    height: 100%; 
    width: 100%;
}

body { 
    margin: 0; 
    background-color: $couleur-background;
}

a {
    text-decoration: none;
}

main {
    padding-top: 65px;
    padding-bottom: 65px;
}