.authentification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 15px;

    .form-auth {
        .check-field {
            margin-right: 180px;
            width: 320px;
        }

        .action_auth {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 20px;

            p {
                margin: 0 auto;
                margin-top: 20px;

                a {
                    color: black;
                }
            }
        }
    }
}