<div class="comments">
    <div class="comments--form" *ngIf="lenght !== 0; else elseBlock">
        <div class="comments--list" *ngIf="commentTemp.length != 0">
            <img class="avatar" src="../../../assets/guest.png" alt="" width="40" height="40">
            <div class="comments--description">
                <div class="comments--decoration comments--opacity">
                    <div style="font-weight: bold; position: relative" class="comment--description">
                        <mat-progress-bar mode="buffer" style="position: absolute; top: -5px"></mat-progress-bar>
                        {{commentTemp["prenom"]}}
                        {{commentTemp["nom"]}}
                    </div>
                    {{commentTemp["contenu"]}}
                </div>
                <p class="comments--createdAt">{{commentTemp["createdAt"] | date:'dd/MM/yyyy HH:mm':'UTC+2'}}</p>
            </div>
        </div>
        <div class="comments--list" *ngFor="let comment of comments">
            <img class="avatar" src="../../../assets/guest.png" alt="" width="40" height="40">
            <div class="comments--description">
                <div class="comments--decoration">
                    <div style="font-weight: bold;" class="comment--description">
                        {{comment.User.prenom}}
                        {{comment.User.nom}}
                    </div>
                    {{comment.contenu}}
                </div>
                <p class="comments--createdAt">{{comment.createdAt | date:'dd/MM/yyyy HH:mm':'UTC+2'}}</p>
            </div>
            <button mat-icon-button class="comments--choice" [matMenuTriggerFor]="menu" aria-label="Example icon-button with heart icon">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Modifier commentaire</span>
                </button>
                <button mat-menu-item (click)="deleteComment(comment.id)" *ngIf="user_id == comment.User.id">
                    <mat-icon style="color:red">delete</mat-icon>
                    <span>Supprimer commentaire</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <ng-template #elseBlock>
        <p class="comments--none">Pas de commentaire pour l'instant. Soyez le premier !</p>
    </ng-template>
    <mat-divider></mat-divider>
    <form [formGroup]="createComment" (ngSubmit)="onSubmitComment()">
        <div class="newComment">
            <div mat-card-avatar>
                <img class="avatar" src="../../../assets/guest.png" alt="" width="40" height="40">
            </div>
            <mat-form-field class="field-form" appearance="fill">
                <textarea matInput name="contenu"  formControlName="contenu" placeholder="Envoyer un commentaire" autofocus></textarea>
            </mat-form-field>
            <button mat-icon-button type="submit" [disabled]="!createComment.valid">
                <mat-icon class="newComment--send">send</mat-icon>
            </button>
        </div>
    </form>
</div>