.avatar {
    border-radius: 50%;
}

.field-form {
    width:100%;
}

.container {
    max-width: 900px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.createPost {
    margin: 20px auto;
}

.main-color {
    width: 100%;
    background-color: #fafafa;
}