<app-header></app-header>

<main style="padding-top: 70px" class="main-color">
    <div style="text-align: center; font-weight: bold" *ngIf="errorMessage != null">
        <span style="color:red;">{{errorMessage}}</span>
    </div>
    <div class="container createPost">
        <form [formGroup]="createPost" (ngSubmit)="onSubmit()">
            <mat-card class="card form-group">
                <mat-card-header style="margin-left: 20px; display: flex; flex-direction: column;">
                    <div style="display: flex; flex-direction: row; width: 100%;">
                        <div mat-card-avatar>
                            <img class="avatar" src="../../../assets/guest.png" alt="" width="40" height="40">
                        </div>
                        <mat-form-field class="field-form" appearance="fill" style="margin-left: 20px;width: 100%;">
                            <textarea matInput name="contenu" placeholder="Contenu de votre post" formControlName="contenu"></textarea>
                        </mat-form-field>
                    </div>
                </mat-card-header>
                <div style="display: flex; flex-direction: column; width: 100%;"  *ngIf="url != null">
                    <img [src]="url" alt="" style="width: 100%; margin: 20px auto">
                </div>
                <mat-divider></mat-divider>
                <mat-card-actions style="display: flex; justify-content: space-between; width: 70%; margin: 0 auto">
                    <button mat-button>
                        <input type="file" name="image" (change)="onSelectFile($event)" formControlName="image"/>
                        <mat-icon style="color: red">add_photo_alternate</mat-icon>
                        <span style="margin-left: 10px; color: grey">Image</span>
                    </button>
                    <button mat-button type="submit" [disabled]="!createPost.valid">
                        <mat-icon style="color: red">send</mat-icon>
                        <span style="margin-left: 10px; color: grey">Publier</span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
    <post-list [postList]="posts"></post-list>
</main>