<app-header *ngIf="!errorServeur"></app-header>

<main>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column" *ngIf="errorMessage">
        <h2 style="color:red;text-align:center">{{errorMessage}}</h2>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 100px" *ngIf="errorServeur">
        <h1 class="mat-display-4" style="color:red;text-align:center">500</h1>
        <h2 style="color:grey;text-align:center">Erreur Serveur. Ca vient probablement de notre côté</h2>
    </div>
    <section id="createPost" class="container" *ngIf="!errorServeur">
        <form [formGroup]="createPost" (ngSubmit)="onSubmit()">
            <mat-card class="new-post--card">
                <mat-card-header class="new-post--card--header">
                    <div class="avatar--contenu">
                        <div mat-card-avatar>
                            <img class="avatar" [src]="image" alt="" width="40" height="40">
                        </div>
                        <div class="form-search">
                            <textarea name="contenu" placeholder="Contenu de votre post" formControlName="contenu"></textarea>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content class="new-post--card--content" *ngIf="url != null">
                    <img [src]="url" alt="" class="new-post--image">
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions class="new-post--card--actions">
                    <button mat-button>
                        <input type="file" name="image" (change)="onSelectFile($event)" formControlName="image"/>
                        <mat-icon style="color: red">add_photo_alternate</mat-icon>
                        <span class="image">Image</span>
                    </button>
                    <button mat-button type="submit">
                        <mat-icon style="color: red">send</mat-icon>
                        <span class="send">Publier</span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </section>
    <section id="listePost">
        <post-list [postList]="posts" [errorServeur]="errorServeur"></post-list>
    </section>
    <mat-divider></mat-divider>
</main>