<app-header></app-header>

<main>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 100px" *ngIf="errorServeur">
        <h1 class="mat-display-4" style="color:red;text-align:center">500</h1>
        <h2 style="color:grey;text-align:center">Erreur Serveur. Ca vient probablement de notre côté</h2>
    </div>
    <section class="container" style="margin-top: 20px">
        <post [post]="post" [user]="user"></post>
    </section>
</main>

<app-footer></app-footer>