<app-header></app-header>

<main>
    <section class="container" style="margin-top: 20px;">
        <div style="position: relative; display:flex; justify-content: center" class="image">
            <img [src]='image' class="avatar image-profil" style="margin: 0 auto;" alt="" width="200">
        </div>
        <h1 style="margin-top: 30px; text-align:center; margin-bottom: 30px">{{prenom}} {{nom}}</h1>
        <div class="coordonnees">
            <div style="margin-bottom: 20px">
                <button mat-icon-button (click)="gotoMail()">
                    <mat-icon style="color:rgb(62, 49, 49)">email</mat-icon>
                </button>
                <span style="margin-left: 10px;">{{user.email}}</span>
            </div>
            <div style="margin-bottom: 20px; position:relative" class="edit-tel">
                <button mat-icon-button (click)="gotoTel()">
                    <mat-icon>phone</mat-icon>
                </button>
                <span style="text-align:center">{{telephone}}</span>
            </div>
        </div>
    </section>
    <section style="margin-bottom: 50px;">
        <post-list [postList]="postByUser"></post-list>
    </section>
    <mat-divider></mat-divider>
</main>

<app-footer></app-footer>