<app-header></app-header>

<main>
    <section style="display:flex; justify-content: center;">
        <div style="display:flex; margin-top: 20px; flex-direction: column; margin-bottom: 30px" class="profil">
            <div style="display:flex; justify-content: center;" class="image" *ngIf="image == null">
                <img src="../../../../assets/guest.png" class="avatar image-profil" style="margin: 0 auto;" alt="" width="200">
            </div>
            <div style="display:flex; justify-content: center;" class="image" *ngIf="image">
                <img [src]="image" class="avatar image-profil" style="margin: 0 auto;" alt="" width="200">
            </div>  
            <h1 style="margin-top: 30px;text-align:center">{{user.prenom}} {{user.nom}}</h1>
            <div class="coordonnées">
                <div style="margin-bottom: 20px">
                    <button mat-icon-button (click)="gotoMail()">
                        <mat-icon style="color:rgb(62, 49, 49)">email</mat-icon>
                    </button>
                    <span style="margin-left: 10px;">{{user.email}}</span>
                </div>
                <div style="margin-bottom: 20px; position:relative" class="edit-tel">
                    <button mat-icon-button (click)="gotoTel()">
                        <mat-icon>phone</mat-icon>
                    </button>
                    <span style="text-align:center">{{telephone}}</span>
                </div>
            </div>
            <div style="display: flex; justify-content:center">
                <button mat-button color="warn" (click)="deleteUser(user.userId)">Supprimer votre compte</button>
                <button mat-button color="primary" (click)="openDialog(my_user)">Modifiez votre compte</button>
            </div>
            <button mat-flat-button color="primary" style="margin-top: 30px" (click)="showPost($event, user.userId)">
                Voir les posts associés
            </button>
            <mat-divider></mat-divider>
        </div>
    </section>
</main>