<div class="message-erreur" *ngIf="errorServeur">
    <h1 class="message">{{errorServeur}}</h1>
</div>
<div class="message-erreur" *ngIf="errorMessage">
  <h1 class="message">{{errorMessage}}</h1>
</div>
<section class="container posts" *ngIf="postList.length > 0; else elseBlock">
    <post *ngFor="let post of postList; let i = index"
          [post]="post" [userLink]="user" [author]="author" [comments]="comments" [likes]="likes" [errorMessage]="errorMessage">
    </post>
</section>
<ng-template #elseBlock>
  <div class="no-posts">
    <h1 class="message-post">Vous n'avez pas de post pour l'instant</h1>
  </div>
</ng-template>