<header>
    <mat-toolbar class="toolbar">
      <a routerLink="/" class="link-home">
        <img src="../../../../assets/icon.png" height="50" width="50"/>
        <span class="title" *ngIf="width > 700">Groupomania</span>
      </a>
      
      <!-- Recherche d'utilisateur -->
      <div class="form-search form-header" *ngIf="isSearch">
        <mat-icon>search</mat-icon>
        <input type="text" class="input-header" [formControl]="myControl" [matAutocomplete]="auto" placeholder="Search">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" class="form-autocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nom" style="width: 300px!important">
            <a (click)="goToprofil($event, option.id)">
                <img class="form-autocomplete-img avatar" aria-hidden [src]="option.image" alt="img-avatar" height="25" *ngIf="option.image">
                <img class="form-autocomplete-img avatar" aria-hidden src="../../../../assets/guest.png" alt="img-avatar" height="25" *ngIf="option.image == null">
                <span>{{option.prenom}} {{option.nom}}</span>
            </a>
          </mat-option>
        </mat-autocomplete>
      </div>

      <!-- Affichage de l'utilisateur courant en mobile -->
      <div *ngIf="width < 700">
        <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with heart icon" *ngIf="image == null">
          <img src="../../../../assets/guest.png" class="avatar avatar-mini chip-position" alt="img-guest">
        </button>
        <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with heart icon" *ngIf="image">
          <img [src]="image" class="avatar avatar-mini chip-position" alt="img-guest">
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="user?.isAdmin" mat-menu-item (click)="openDialog()">
            <mat-icon>people</mat-icon>
            <span>Gestion utilisateurs</span>
          </button>
          <button *ngIf="isClick" mat-menu-item routerLink="profil">
            <mat-icon>account_circle</mat-icon>
            <span>Mon compte</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Se deconnecter</span>
          </button>
        </mat-menu>
      </div>
      <mat-chip-list *ngIf="width > 700">
        <mat-chip>
          <span *ngIf="userHeader !== null">{{user?.prenom}} {{user?.nom}}</span>
          <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with heart icon" *ngIf="image == null">
            <img src="../../../../assets/guest.png" class="avatar avatar-mini chip-position" alt="img-guest">
          </button>
          <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with heart icon" *ngIf="image">
            <img [src]="image" class="avatar avatar-mini chip-position" alt="img-guest">
          </button>
          <mat-menu #menu="matMenu">
            <button *ngIf="user?.isAdmin" mat-menu-item (click)="openDialog()">
              <mat-icon>people</mat-icon>
              <span>Gestion utilisateurs</span>
            </button>
            <button *ngIf="isClick" mat-menu-item routerLink="profil">
              <mat-icon>account_circle</mat-icon>
              <span>Mon compte</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Se deconnecter</span>
            </button>
          </mat-menu>
        </mat-chip>
      </mat-chip-list>
    </mat-toolbar>
</header>